.linkToHome {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: rgb(57, 170, 208);
    text-decoration: none;
    margin-top: 20px;

}

.toCountries {
    background-image: url('https://images.pexels.com/photos/6220559/pexels-photo-6220559.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: 100vw 100vh;
    height: 100vh;
}

.img {
    max-width: 100%;
    max-height: 100%;
}

h2 {

    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    margin-top: 0px;
    color: rgb(57, 170, 208);
}